.wTabsContainer {
  border: 1px solid #CCC;
}

.wTabsContainer ul {
  padding: 0;
  margin: 0;
  line-height: 3em;
  list-style: none;
  position: relative;
}

.wTabsContainer ul li {
  border-bottom: 1px solid #F2F2F2;
}

.wTabsContainer ul li:hover {
  cursor: pointer;
  background: #e0e0e0;
  /*BBDEFB*/
  color: #FFF;
}

.wTabsContainer ul li .contenedorTab {
  display: block;
  /*background: blue;*/
  overflow: hidden;
  height: 100%;
}

.wTabsContainer ul li .contenedorTab a {
  display: block;
  text-decoration: none;
  /*border:1px solid #FF0000;*/
  float: left;
  width: 90%;
  color: #000;
  margin-left: .3em;
}

.wTabsContainer ul li .wTabClose {
  background: url(../img/x.png) no-repeat;
  float: right;
  right: .8em;
  /*border: 1px solid #FF0000;*/
  width: .9em;
  line-height: .9em;
  margin-top: .9em;
  margin-right: .6em;
}

.wTabsContainer .wContentTab {
  border: 1px solid #CCC;
  height: 20em;
  display: none;
  margin-top: 0em;
}

.wTabsContainer .wTabContentActive {
  display: block;
}

.wTabActive {
  background: #F2F2F2;
}
